.App{
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
  border: 1px solid #888888;
  margin: 0 0 10px 0;
  padding : 4px;
  }

.NavBar{
    padding-left:200px
}

  .Application {
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
  }
